* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
	border: 0;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	background: #f9f9f9;
	color: #7a7a7a;
}

.center {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}

.button {
	font-size: 13px;
	color: #8a8a8a;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 12px;
	border: 1px solid #dedede;
	border-radius: 3px;
}

.button.small {
	font-size: 10px;
	padding: 10px;
}

.button:hover {
	background: #00a99d;
	color: #f7f7f7;
	border: 1px solid #00756d;
}

.header-wrapper {
	padding: 30px 0;
	border-bottom: 2px solid #dedede;
}

.header-left .logo {
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #383838;
}

.header-left .logo span {
	color: #00a99d;
}

.header-right {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.menu li {
	margin-right: 10px;
}

.menu li:last-of-type {
	margin-right: 0;
}

.menu li a {
	font-size: 13px;
	font-weight: bold;
	display: block;
	color: #7a7a7a;
	text-transform: uppercase;
	padding: 13px;
	border-radius: 3px;
	transition: background-color 0.25s ease, color 0.25s ease;
}

.menu li a:hover, .menu li.active a {
	background: #00a99d;
	color: #f7f7f7;
}

.services-wrapper {
	padding: 70px 0 100px 0;
}

.services {
	text-align: center;
}

.services h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 0;
	color: #383838;
	text-transform: uppercase;
}

.services h2 span {
	color: #00a99d;
}

.services h3 {
	font-weight: normal;
	font-size: 16px;
	margin: 15px 0 0 0;
	color: #8a8a8a;
}

.services-items {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
}

.service-icon {
	width: 100px;
	height: 100px;
	background-color: #383838;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}

.service-title {
	margin-top: 25px;
	font-size: 14px;
	color: #606060;
	font-weight: bold;
	text-transform: uppercase;
}

.service-desc {
	margin-top: 10px;
	line-height: 24px;
}

.service .button {
	margin-top: 15px;
}

.icon-monitor {
	background-image: url(./icons/monitor.png);
}

@media only screen and (max-width: 500px) {
	.services-items {
		flex-wrap: wrap;
	}

	.service {
		margin-bottom: 20px;
	}
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-item {
	width: 230px;
	position: relative;
	flex-grow: 1;
}

.portfolio-item img {
	display: block;
	width: 100%;
	height: 100%;
}

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #1ca399;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-item-overlay {
	opacity: 1;
}
