* {
	box-sizing: border-box;
}

html {
	font-family: Verdana;
}

img {
	display: block;
}

.slider {
	width: 500px;
	height: 170px;
	position: relative;
	z-index: 238;
}

.slide-item {
	position: relative;
}

.slide-item img {
	width: 100%;
	height: 100%;
}

.slide-item h3 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	padding: 7px;
}

.slider-button {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-button.slider-left {
	left: 0;
}

.slider-button.slider-right {
	right: 0;
}

p {
	margin: 0;
}


.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9990;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: white;
	width: 400px;
	padding: 20px;
}
