.box_gray {
	position: relative;
	margin-top: 100px;
	width: 200px;
	height: 200px;
	background: gray;
	z-index: 1;
}

.box_blue {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	background: blue;
	z-index: 3;
}

.box_purple {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	background: purple;
	z-index: 1;
}

.box_green {
	width: 150px;
	height: 150px;
	background: green;
	position: absolute;
	top: 130px;
	left: 150px;
	z-index: 2;
}

.box_red {
	width: 170px;
	height: 170px;
	background: red;
}
