* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

/* purple theme */
.navigation.purple ul {
	background: #6e67b3;
}

.navigation.purple ul li {
	border-right:  rgba(0, 0, 0, 0.2);
}

.navigation.purple ul li a {
	color: #ffffff;
}

/* red theme */
.navigation.red ul {
	background: #820f0f;
}

.navigation.red ul li a {
	color: #ffffff;
}

/* gray theme */
.navigation.gray ul {
	background: #d6d6d6;
}

.navigation.gray ul li a {
	color: #282828;
}

/* border option */
.navigation.with-border ul {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation.with-border ul li {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation.with-border ul li:last-of-type {
	border-right: none;
}

.navigation.with-text-shadow ul {
	text-shadow: 1px 1px #2d2d2d;
}

.navigation ul {
	display: flex;
	flex-direction: row;
	height: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	flex-grow: 1;
	display: flex;
	/* by default align-items: stretch; */
}

.navigation ul li:hover {
	background: rgba(0, 0, 0, 0.2);
}

.navigation ul li a {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}
